<div class="container">
  <div class="page-header">
    <h2><small>BetterThanMint.com </small>Financial Tracker</h2>
  </div>

  {{render "regrets"}}

  <div class="row">
    {{outlet}}
  </div>
</div>
