<table class="tasks table table-striped table-hover">
  <thead>
    <tr>
      <th class="is-done">Paid?</th>
      <th class="task">Expense</th>
      <th class="estimate">Expense Amount</th>
      <th class="actions"></th>
    </tr>
  </thead>

  {{view Todo.TaskTableRowsView contentBinding=controller}}
</table>

<div class="actions trailer">
  <button class="btn btn-primary" {{action addTask}} {{bindAttr disabled="isAddingNew"}}>Add Expense</button>
</div>
